.buttons {
    margin-top: 3.1875rem;
    display: flex;
    flex-direction: column;
    grid-gap: 1.5rem;
}

.btn {
    color: white;
    text-decoration: none;
    font-weight: 700;
    padding: 1.4375rem 4.8125rem;
    border-radius: 50px;

    &:hover {
        opacity: .8;
        cursor: pointer;
    }


    &__green {
        background-color: $StrongCyan;
        border-bottom: 4px solid #008774;
        box-shadow: 0px 10px 30px rgba(38, 186, 164, .4);
    }

    &__blue {
        background-color: $LightBlue;
        border-bottom: 4px solid #1430FF;
        box-shadow: 0px 10px 30px rgba(51, 75, 255, .4);
    }
}
