// Primary colors
$StrongCyan: hsl(171, 66%, 44%);
$LightBlue: hsl(233, 100%, 60%);

// Neutral colors
$DarkGrayishBlue: hsl(210, 10%, 33%);
$GrayishBlue: hsl(201, 11%, 66%);

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 16px;
    background-image: url(../images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $DarkGrayishBlue;
}

.container {
    width: 375px;
    padding: 2rem 2rem 0 2rem;
}

